<a href="https://colab.research.google.com/github/Akeozaki/DiplomadoPython/blob/master/2_2_Impresi%C3%B3n_avanzada.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Formato de la cadena

El formato de cadena le permite insertar elementos en una cadena en lugar de intentar encadenar elementos mediante comas o concatenación de cadenas. Como comparación rápida, considere:

     Jugador = 'Tomas'
     Puntos = 33
    
     'Anoche,'+jugador+'anotó'+str (punta)+'puntos.' # Concatenación
    
     F'Anoche, {jugador} anotó {puntos} puntos. ' # Formato de cadena


Existen tres formas de realizar el formateo de cadenas.
* El método más antiguo implica marcadores de posición que utilizan el carácter de módulo `%`.
* Una técnica mejorada utiliza el método de cadena `.format ()`.
*El método más nuevo, introducido con Python 3.6, utiliza cadenas literales formateadas, llamadas *f-strings *.

Describimos cada una de ellas.

## Formato con marcadores de posición
Puede utilizar <code>%s</code> para inyectar cadenas en sus declaraciones impresas. El módulo `%` se conoce como "operador de formato de cadena".

In [ ]:
print("Voy a inyectar %s aquí." %'algo')

Voy a inyectar algo aquí.

Puede pasar varios elementos colocándolos dentro de una tupla después del operador `%`.

In [ ]:
print("Voy a inyectar %s texto aquí y %s texto aquí." %('Algo', 'Más'))

Voy a inyectar Algo texto aquí y Más texto aquí.

También se puede pasar nombres de variables:

In [ ]:
x, y = 'Algo', 'Más'
print("Voy a inyectar %s texto aquí y %s texto aquí."%(x,y))

Voy a inyectar Algo texto aquí y Más texto aquí.

### Métodos de conversión de formato.
Cabe señalar que dos métodos <code>%s</code> y <code>%r</code> convierten cualquier objeto de Python en una cadena usando dos métodos separados: `str ()` y `repr ()`. Aprenderemos más sobre estas funciones más adelante en el curso, pero debe tenerse en cuenta que `%r` y entrega la *representación de cadena* del objeto, incluidas las comillas y los caracteres de escape.

In [ ]:
print('Dijo que su nombre es %s.' %'José')
print('Dijo que su nombre es %r.' %'José')

Dijo que su nombre es José.
Dijo que su nombre es 'José'.

Como otro ejemplo, `\t` inserta una pestaña en una cadena.

In [ ]:
print('Pesqué un pez %s.' %'así \tde grande')
print('Pesqué un pez %r.' %'así \tde grande')

Pesqué un pez así 	de grande.
Pesqué un pez 'así \tde grande'.

El operador `%s` convierte todo lo que ve en una cadena, incluidos números enteros y flotantes. El operador `%d` convierte primero los números a enteros, sin redondear. Tenga en cuenta la diferencia a continuación:

In [ ]:
print('Escribí %s programas hoy.' %3.75)
print('Escribí %d programas hoy.' %3.75)

Escribí 3.75 programas hoy.
Escribí 3 programas hoy.

### Relleno y precisión de números de coma flotante
Los números de coma flotante utilizan el formato <code>%5.2f</code>. Aquí, <code>5</code> sería el número mínimo de caracteres que debe contener la cadena; Estos pueden completarse con espacios en blanco si el número completo no tiene tantos dígitos. Junto a esto, <code>.2f</code> representa cuántos números se muestran más allá del punto decimal. Veamos algunos ejemplos:

In [ ]:
print('Número de punto flotante: %4.2f' %(13.144))

Número de punto flotante: 13.14

In [ ]:
print('Número de punto flotante: %1.0f' %(13.144))

Número de punto flotante: 13

In [ ]:
print('Número de punto flotante: %1.5f' %(13.144))

Número de punto flotante: 13.14400

In [ ]:
print('Número de punto flotante: %10.2f' %(13.144))

Número de punto flotante:      13.14

In [ ]:
print('Número de punto flotante: %25.2f' %(13.144))

Número de punto flotante:                     13.14

Para más información: https://docs.python.org/3/library/stdtypes.html#old-string-formatting

### Formato múltiple
Nada prohíbe utilizar más de una herramienta de conversión en la misma declaración de `print()`:

In [ ]:
print('Primero: %s, Segundo: %5.2f, Tercero: %r' %('hola!', 3.1415,'chau!'))

Primero: hola!, Segundo:  3.14, Tercero: 'chau!'

## Formatear con el método `.format ()`
Una mejor manera de formatear objetos en sus cadenas para declaraciones impresas es con el método de cadena `.format ()`. La sintaxis es:

     'Cadena aquí {} y luego también {}'.format('algo1', 'algo2')
    
Por ejemplo:

In [ ]:
print('Esta es una cadena con una {}'.format('inserción'))

Esta es una cadena con una inserción

### El método .format() tiene varias ventajas por sobre el método de *placeholder*  %s:

#### 1. Los objetos insertados se pueden llamar por la posición del índice:

In [ ]:
print('El {2} {1} {0}'.format('marrón','zorro','veloz'))

El veloz zorro marrón

#### 2. A los objetos insertados se les pueden asignar palabras clave:

In [ ]:
print ('Primer objeto: {a}, Segundo objeto: {b}, Tercer objeto: {c}'.format (a = 1, b = 'Dos', c = 12.3))

Primer objeto: 1, Segundo objeto: Dos, Tercer objeto: 12.3

#### 3. Los objetos insertados se pueden reutilizar, evitando duplicaciones:

In [ ]:
print ('Un %s ahorrado es un %s ganado.' %('guaraní', 'guaraní'))
#
print ('Un {p} ahorrado es un {p} ganado.'.format(p = 'guaraní'))

Un guaraní ahorrado es un guaraní ganado.
Un guaraní ahorrado es un guaraní ganado.

### Alineación, relleno y precisión con `.format ()`
Dentro de las llaves puede asignar longitudes de campo, alineaciones izquierda/derecha, parámetros de redondeo y más.

In [ ]:
print('{0:8} | {1:8}'.format('Fruta', 'Cantidad'))
print('{0:8} | {1:8}'.format('Manzanas', 3.))
print('{0:8} | {1:8}'.format('Naranjas', 10))

Fruta    | Cantidad
Manzanas |      3.0
Naranjas |       10

De forma predeterminada, `.format ()` alinea el texto a la izquierda y los números a la derecha. Opcionalmente se puede pasar un `<`, `^` o `>` para establecer la alineación izquierda, central o derecha:

In [ ]:
print('{0:<9} | {1:^9} | {2:>9}'.format('Izquierda','Centro','Derecha'))
print('{0:<9} | {1:^9} | {2:>9}'.format(11,22,33))

Izquierda |  Centro   |   Derecha
11        |    22     |        33

Puede preceder al operador de alineación con un carácter de relleno

In [ ]:
print('{0:=<9} | {1:-^9} | {2:.>9}'.format('Izquierda','Centro','Derecha'))
print('{0:=<9} | {1:-^9} | {2:.>9}'.format(11,22,33))

Los anchos de campo y la precisión flotante se manejan de manera similar a los marcadores de posición. Las siguientes dos declaraciones impresas son equivalentes:

In [ ]:
print('Este es mi número de diez caracteres y dos decimales:%10.2f' %13.579)
print('Este es mi número de diez caracteres y dos decimales:{0:10.2f}'.format(13.579))

Este es mi número de diez caracteres y dos decimales:     13.58
Este es mi número de diez caracteres y dos decimales:     13.58

Tengase en cuenta que hay 5 espacios después de los dos puntos y 5 caracteres ocupados por 13,58, para un total de diez caracteres.

Más información sobre el método de cadena `.format ()`: https://docs.python.org/3/library/string.html#formatstrings

## Literales de cadena formateados (f-strings)

Introducido en Python 3.6, los f-strings ofrecen varios beneficios sobre el antiguo método de cadena `.format ()` descrito anteriormente. Por un lado, puede incorporar variables externas inmediatamente a la cadena en lugar de pasarlas como argumentos a través de `.format (var)`.

In [ ]:
nombre = 'José'

print(f"Su nombre es {nombre}.")

Su nombre es José.

Pase `!r` para obtener la representación de la cadena:

In [ ]:
print(f"Su nombre es {nombre!r}")

Su nombre es 'José'

#### El formato flotante sigue `"resultado: {valor: {ancho}. {Precisión}}"`

Donde con el método `.format ()` puede ver `{value: 10.4f}`, con f-strings esto puede convertirse en `{value: {10}.{6}}`

In [ ]:
num = 23.45678
print("Mi número de 10 caracteres y 4 decimales es:{0:10.4f}".format(num))
print(f"Mi número de 10 caracteres y 4 decimales es:{num:{10}.{6}}")

Mi número de 10 caracteres y 4 decimales es:   23.4568
Mi número de 10 caracteres y 4 decimales es:   23.4568

Tenga en cuenta que con los f-strings, *precisión* se refiere al número total de dígitos, no solo a los que siguen al decimal. Esto encaja más estrechamente con la notación científica y el análisis estadístico. Desafortunadamente, las cadenas f no se rellenan a la derecha del decimal, incluso si la precisión lo permite:

In [ ]:
num = 23.45
print("Mi número de 10 caracteres y 4 decimales es:{0:10.4f}".format(num))
print(f"Mi número de 10 caracteres y 4 decimales es:{num:{10}.{6}}")

Mi número de 10 caracteres y 4 decimales es:   23.4500
Mi número de 10 caracteres y 4 decimales es:     23.45

Si esto se vuelve importante, siempre puede usar la sintaxis del método `.format ()` dentro de una cadena f:

In [ ]:
num = 23.45
print("Mi número de 10 caracteres y 4 decimales es:{0:10.4f}".format(num))
print(f"Mi número de 10 caracteres y 4 decimales es:{num:10.4f}")

Mi número de 10 caracteres y 4 decimales es:   23.4500
Mi número de 10 caracteres y 4 decimales es:   23.4500

Para más información: https://docs.python.org/3/reference/lexical_analysis.html#f-strings